 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: hsl(0, 100%, 1%);
    color: #fcf5f5;
}


header {
    background-color: #111;
    padding: 20px 0;
        box-shadow: 0 3px 4px   #61009e;
}

.navbar {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    color: #fff;
    font-size: 24px;
}

.logo span {
    color: #61009e;
}

.menu {
    list-style: lower-alpha;
    gap: 20px;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}
.menu h3 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #9b00d4;
}
.menu h2 span {
    color: #61009e;
}
.menu a:hover {
    color: #61009e;
}


.hero {
    background: linear-gradient(to right, #111, #222);
    color: white;
    text-align: center;
    padding: 100px 20px;

}

.hero-content h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero-content span {
    color: #61009e;
}

.hero-content p {
    margin-bottom: 20px;
    font-size: 18px;
}
.hero-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden; 
   display: block;
  margin-left: auto;
  margin-right: auto;

}

.btn {
    background-color: #61009e;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #61009e;
}

section {
    width: 90%;
    margin: 50px auto;
    text-align: center;
}

.projetos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}



.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-radius: 10px;
}


.contato a {
    color: #9b00d4;
    text-decoration: none;
}

.contato a:hover {
    text-decoration: underline;
}
.contactos{
     background-color:  #000000;
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(195, 7, 228, 0.1);
    padding: 15px;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}
